<div class="wrap">
  <div class="form">
    <form [formGroup]="form">
      <label>Search Movie: <input type="text" formControlName="search"></label>
      <button class="btn" [disabled]="form.invalid" (click)="search()">Search</button>
    </form>
  </div>
  <hr>
  <div class="container">
    <div *ngFor="let movie of searchValue">
      <a routerLink="/movie-details" [state]="{data:movie}">
        <div class="card">
          <app-poster-preview *ngIf="movie.poster_path" [poster]="movie.poster_path"></app-poster-preview>
          <img *ngIf="!movie.poster_path"
               src="https://www.croaziere.net/uploads/images/2021/8/4/smallv-image-not-available-esp5.png"
               alt="no photo">
          <div class="txt">Name: {{movie.title}}</div>
          <div class="txt2">Rating: {{movie.vote_average}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
<app-plagiarism *ngIf="searchValue"></app-plagiarism>
